<% if (page.categories && page.categories.length) { %>
    <div class="article-category">
        <i class="iconfont icon-category"></i>
        <%- list_categories(page.categories, { show_count: false, style: 'link', separator: ' › ' }) %>
    </div>
<% } %>
