<% if (page.tags && page.tags.length) { %>
    <div class="article-tag">
        <i class="iconfont icon-tag"></i>
        <%- list_tags(page.tags, { show_count: false, style: 'link', class: {a: 'p-category' }}) %>
    </div>
<% } %>
