<footer class="footer-inner">
  <div class="footer-left">
    Copyright  <i class="iconfont icon-copyright"></i>
    <%= new Date().getFullYear() %>

    <%= config.author || config.title %>
  </div>
  <div class="footer-right">
    <nav>
      <ul>
        <% for (var i in theme.nav) { %><!--
       --><li><a href="<%- url_for(theme.nav[i]) %>"><%= __('nav.'+i).replace("nav.", "") %></a></li><!--
     --><% } %>
      </ul>
    </nav>
  </div>
</footer>