<!--
 * @Author: linyi 1195190035@qq.com
 * @Date: 2024-11-29 21:52:17
 * @LastEditors: linyi 1195190035@qq.com
 * @LastEditTime: 2024-11-30 01:46:02
 * @FilePath: \blog-substack-master\themes\hexo-theme-fluid\layout\_partials\header.ejs
 * @Description: 这是默认设置,请设置`customMade`, 打开koroFileHeader查看配置 进行设置: https://github.com/OBKoro1/koro1FileHeader/wiki/%E9%85%8D%E7%BD%AE
-->
<%
var banner_img_height = parseFloat(page.banner_img_height || theme.index.banner_img_height)
%>

<div style="height: 15vh;">
  <%- partial('_partials/header/navigation') %>
  <!-- <%- partial('_partials/header/banner') %> -->
</div>
