
<%
var banner_img_height = parseFloat(page.banner_img_height || theme.index.banner_img_height)
%>

<div style="height: 15vh;">
  <%- partial('_partials/header/navigation') %>
  <!-- <%- partial('_partials/header/banner') %> -->
</div>
