.post-meta-info
  display flex
  justify-content space-between
  margin-top 3rem
  margin-bottom 2rem

  
  .meta-item
    font-size: 18px 
    margin 0 16px
    display flex
    align-items center


.post-title
  font-size 2.5rem
  font-weight 700
  -webkit-font-smoothing antialiased
  font-family "Avenir LT Std Book", sans-serif
  line-height 1.5

.post-avatar-img
  width 45px
  height 45px
  border-radius 50%

.post-social-icon-area
  font-size 19px
  display flex
  justify-content space-between
  align-items flex-end
  align-content flex-end

@media (max-width: 1200px)
    .post-avatar-img
      width 40px
      height 40px
    .post-title
      font-size 2.3rem
      font-weight 700


    .post-meta-info 
      .meta-item
        font-size: 17px 
        margin 0 14px


@media (max-width: 922px)
    .post-avatar-img
      width 35px
      height 35px
    .post-title
      font-size 2.1rem

    .post-meta-info
      .meta-item
        font-size: 16px 
        margin 0 9px
    .post-social-icon
       font-size 17px


@media (max-width:768px)
    .post-avatar-img
      width 30px
      height 30px
    .post-title
      font-size 1.9rem
    .post-meta-info
      .meta-item
        font-size: 14px 
        margin 0 6px
    .post-social-icon
       font-size 15px

@media (max-width:575px)
      .post-title
        font-size 1.8rem
        padding 0 14px
      .post-meta-info
        padding 0 14px
    

  