.post-meta-info
  display flex
  justify-content space-between
  margin-top 3rem
  margin-bottom 2rem

  
  .meta-item
    font-size: 15px 
    margin 0 16px
    display flex
    align-items center


.post-title
  font-size 2.6rem
  font-weight 500
  -webkit-font-smoothing antialiased
  font-family "Avenir LT Std Book", sans-serif
  letter-spacing -.004em

.post-avatar-img
  width 45px
  height 45px
  border-radius 50%

.post-social-icon
  font-size 19px

@media (max-width: 1200px)
    .post-avatar-img
      width 40px
      height 40px
    .post-title
      font-size 2.3rem

    .post-meta-info 
      .meta-item
        font-size: 14px 
        margin 0 14px


@media (max-width: 922px)
    .post-avatar-img
      width 35px
      height 35px
    .post-title
      font-size 2rem
    .post-meta-info
      .meta-item
        font-size: 13px 
        margin 0 9px
    .post-social-icon
       font-size 17px


@media (max-width:768px)
    .post-avatar-img
      width 30px
      height 30px
    .post-title
      font-size 1.7rem
    .post-meta-info
      .meta-item
        font-size: 12px 
        margin 0 6px
    .post-social-icon
       font-size 15px

@media (max-width:575px)
      .post-title
        padding 0 14px
      .post-meta-info
        padding 0 14px
    

  